<table>
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Titile of Product</th>
    <th>Details</th>
    <th>Action</th>
</tr>


    <%= render partial: 'product', collection: @products %>
  



  </table>
  <%= link_to "Create", new_product_url %>